.centrar-texto {
    text-align: center;
}

.imagen-small {
    width: 10rem;
}

.contenedor-imagen {
    display: flex;
    justify-content: flex-end;
}

.contenedor-boton {
    display: flex;
    justify-content: end;
}