@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fuente: 'Roboto', sans-serif;

// Botones
$login: #5654e3;
$error: rgb(206, 61, 61);
$exito: rgb(48, 202, 48);

$blanco: #FDFBF6; // Fondo
$negro: #242422; // Letras


$bgColor: #363940;
$cardBlue: #18a3b8;
$cardGreen: #27a746;
$cardYellow: #fec009;
$cardRed: #de3647;
$cardAzul: #3679de;
$cardMorado: #9b36de;

$blancoPalido: #f5f6fb;
$blanco: #ffffff;
$colorSelected: #007aff;
$gris: #333633da;